@import url("./colorschemes/gruvbox.css");
@import url("http://fonts.googleapis.com/css?family=Fira+Code");

:root {
  font-family: "Fira Code", monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--bg);
  color: var(--fg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header div {
  display: flex;
  align-items: center;
}

#profile-picture {
  object-fit: cover;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border: 2px solid var(--fg);
  border-radius: 10rem;
}

header nav {
  padding-right: 1rem;
}

header nav a {
  color: var(--fg);
  padding: 0.4rem 1rem;
  margin: 0 0.2rem;
  text-decoration: none;
  border-radius: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

/* Fold Navbar into a hamburger menu on smaller screens */
@media (max-width: 950px);
