<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="static/images/cat.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="static/css/about.css" />
  </head>
  <body>
    <header>
      <div>
        <img
          src="static/images/cat.png"
          alt="stupid cat"
          id="profile-picture"
        />
        <h1>saubuny</h1>
      </div>
      <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/projects">projects</a>
        <a href="/music">music</a>
      </nav>
    </header>
    <section>
      <div>
        <div id="left">
          <h1>about me</h1>
          <ul>
            <li>age: 18</li>
            <li>languages: c, javascript/typescript, python, php</li>
            <li>cats: i have three of them</li>
            <li>other: i use arch btw</li>
          </ul>
        </div>
        <div id="right">
          <figure>
            <img src="static/images/cat.png" alt="my cat" />
            <figcaption>my cat</figcaption>
          </figure>
        </div>
      </div>
      <div>
        <h1>my arch rice</h1>
        <figure>
          <img src="static/images/rice.png" alt="arch" />
          <figcaption>
            i'm still new to this i apologize if my setup is violently repulsive
          </figcaption>
        </figure>
      </div>
    </section>
  </body>
</html>
