{% extends 'base.html' %} {% block title %} home {% endblock %} {% block content
%}
<section class="info">
  <h1>about me</h1>
  <ul>
    <li>age: 18</li>
    <li>cats: i have three of them</li>
    <li>languages: c, javascript, php</li>
    <li>preferred os: arch linux</li>
  </ul>
</section>
<figure id="rice">
  <img src="static/images/cat.png" alt="my cat" />
  <figcaption>my cat</figcaption>
</figure>
<figure id="rice">
  <img src="static/images/rice.png" alt="arch" />
  <figcaption>
    i'm still new to this i apologize if my setup is violently repulsive
  </figcaption>
</figure>
<section class="info">
  <h1>my arch rice</h1>
  <ul>
    <li>age: 18</li>
    <li>cats: i have three of them</li>
    <li>languages: c, javascript, python, php</li>
    <li>preferred os: arch linux</li>
  </ul>
</section>

{% endblock %}
