<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="static/images/cat.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>saubuny's website</title>
    <link rel="stylesheet" href="static/css/home.css" />
  </head>
  <body>
    <header>
      <div>
        <img
          src="static/images/cat.png"
          alt="stupid cat"
          id="profile-picture"
        />
        <h1>saubuny</h1>
      </div>
      <input type="checkbox" id="menu-toggle" />
      <div id="hamburger-lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
      <nav id="menu">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/projects">projects</a>
        <a href="/music">music</a>
      </nav>
    </header>

    <section>
      <h1>hi, i'm saubuny</h1>
      <p>
        a developer who's been messing around with programming on and off since
        the age of 11
      </p>
    </section>
  </body>
</html>
